.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#quote-col {
  background-color: #d3d3d3;
  height: 150px;
  width: 500;
  text-align: center, justify;
}

#biz-card {
  background-color: #ff7f00;
  height: 150px;
  width: 500;
}

#main-view {
  background-color: #add8e6;
  height: 150px;
  width: 1000;
}
